<nav class="navbar navbar-light " style="background-color: rgb(216, 115, 53);">
    <div class="container-fluid">
        <h1 style="color: rgb(18, 16, 13);"><img style="width: 100px;" src="https://static.businessworld.in/article/article_extra_large_image/1584450345_yDoXEg_ICICI_Bank_Logo.jpg">ICICI Products</h1>
        <div class="d-flex">
            <a routerLink="/login" style="color: black;">logout</a>
        </div>
    </div>
</nav>



<body style="background-color: antiquewhite; height: 900px;">
    <div class="container" style="padding-top: 20px;">
        <div class="row" style="padding: 10px;">
            <div class="card" style="width: 18rem; padding: 10px;" *ngFor="let row of finalresponse">
                <img class="card-img-top" src={{row.pimage}} alt="Card image cap" style="height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{row.pname}}</h5>
                    <p class="card-text">Catagory: {{row.catagory}}</p>
                    <p class="card-text">Price: {{row.price}}</p>
                    <p class="card-text">Rating: {{row.rating}}</p>

                </div>
            </div>
        </div>
    </div>
</body>