body{
    background-color: rgb(205, 148, 68);
}

.card{
    //margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(216, 130, 69);
    background: linear-gradient(90deg,rgb(116, 76, 36)0%,rgb(239, 133, 5)100%);
}

.card h1,h6{
    color: aliceblue;
}

label{
    color: aliceblue;
}